In [2]:
import pandas as pd

In [46]:
DF=pd.read_excel("isl-012021.xlsx" ,index_col="Región")
DF.head()

        Cód. Comuna   Glosa Comuna   Nº Hombre  ...   Mto.Mujer   Nº   Monto m$
Región                                          ...
15          15101.0          ARICA          34  ...    5492.438   86  10438.697
15          15102.0      CAMARONES           0  ...       0.000    0      0.000
15          15201.0          PUTRE           0  ...       0.000    0      0.000
15          15202.0  GENERAL LAGOS           0  ...       0.000    0      0.000
1            1101.0        IQUIQUE          22  ...    5921.854   62   9185.826

[5 rows x 8 columns]



Filtramos datos que no contengan nada

In [87]:

DFF=DF[DF["Monto m$"]>0]
DFF.groupby("Glosa Comuna").agg({
  "Glosa Comuna":'sum',
  "Nº Mujer":'sum',
  " Mto.Mujer":'sum',
  " Nº Hombre":'sum',
  " Mto.Hombre":'sum'
  })

DN=DFF.groupby("Glosa Comuna").agg({
  "Glosa Comuna":'sum',
  "Nº Mujer":'sum',
  " Mto.Mujer":'sum',
  " Nº Hombre":'sum',
  " Mto.Hombre":'sum'
})

DN.describe()

         Nº Mujer     Mto.Mujer   Nº Hombre    Mto.Hombre
count  281.000000    281.000000  281.000000    281.000000
mean    20.124555   2829.206879   13.921708   2987.708235
std     32.841429   5761.341694   28.016977   7451.893577
min      0.000000      0.000000    0.000000      0.000000
25%      3.000000    269.212000    1.000000    237.727000
50%      8.000000    894.184000    5.000000    902.440000
75%     18.000000   2309.021000   14.000000   2301.001000
max    207.000000  58137.420000  252.000000  71596.295000